@use 'functions';
$colors: (
    primary:rgb(144, 237, 237),
    secondary:rgb(19, 242, 19),
    tertiary:rgb(32, 32, 121),
    quanternary:rgb(252, 40, 40),
);

$display-sizes:(
1:55px,
2:45px,
3:35px,
);


