* {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;

}

body {
    position: relative;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 165px 0 165px;
    margin-bottom: 180px;
    flex-wrap: wrap;

    >button {
        background: #13183F;
        border-radius: 28px;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        z-index: 1;
        padding: 14px 31px 14px 32px;
        border: none;
    }

}

header>button:active {
    background: #666CA3;
    border-radius: 28px;
}



.container>.hero {
    display: inline-flex;
    flex-shrink: 2;
    flex-direction: column;
    padding-left: 7%;


    >h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 56px;
        line-height: 71px;
        color: #13183F;
        margin-bottom: 29px;
    }

    >p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #83869A;
        margin-bottom: 59px;
    }

    >button {
        border: none;
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border-radius: 31.5px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        width: 167px;
        height: 63px;

    }
}



.images {
    >img {

        position: absolute;
        top: 0;
        right: 0;

    }

}

.hero>button:active {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
}

.boxes {
    margin-top: 266px;
    display: grid;
    column-gap: 30px;
    row-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 24px 165px 140px 165px;

    >div {

        border-radius: 15px;
        padding: 64px 32px 40px 32px;

        >p {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        >a {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            text-decoration: none;
            color: #F74780;

        }

        >img {
            position: absolute;

        }
    }

}

.boxes>div:nth-child(1) {
    color: white;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    padding: 64px 32px 138px 32px;
}

.boxes>div:nth-child(2) {
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);

}

.boxes>div:nth-child(3) {

    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);


}

.boxes>div:nth-child(4) {

    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);


}

.boxes>div:nth-child(5) {

    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);


}

.boxes>div:nth-child(6) {

    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);



}

.boxes>div>a {

    margin-top: 24px;

}

.animation,
.design {
    top: 895px;
}

.photography,
.crypto,
.business {
    top: 1263px;
}

footer {
    background: #13183F;
    padding: 32px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >button {
        background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
        border-radius: 28px;
        padding: 14px 31px;
        color: white;
        border: none;
    }

    >button:active {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }

    >img {
        width: 111px;
        height: 27px;
    }
}

@media screen and (max-width: 769px) {
    footer {
        padding: 36px 39px;
    }

    header {
        padding: 24px 40px;
    }

    .container>.hero>h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        color: #13183F;
    }

    .container>.hero>p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #83869A;
    }

    .container {
        padding-left: 39px;
        margin-left: 0;
    }
    header{
        margin-bottom: 105px;

    }
}