body{ 
           
    background-color: rgb(197, 192, 192);
   }
.a{
text-decoration: underline;
text-align: center;
}
.label{
margin-left: 440px;

}
.i{  display: inline;
width: 270px;
height: 30px;
}
.b{
width: 20px;
height: 20px;
}