.header {
    
    background-image: url("../Task_06/bg-header-desktop.png");
    height: 363px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header>h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.75px;

    color: #4C545C;
}

.container {

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #9EABB2;
    margin-top: -30px;
}

.logo {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    margin-top: 128px;
}

article>h1 {
    display: inline;
    margin-top: 6px;
}

article>p {
    display: inline-block;
    margin-top: 16px;

}

.btn-group {
    margin-top: 48px;
}

.container2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.15px;
    margin-top: 163px;
    margin-bottom: 80px;
}

.container2>h2 {
    display: inline;

}

.container2>p {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.135px;
}

.macos {
    margin-left: 16px;
}

.feature {
    margin-right: 300px;
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 110px;

}

.feature>ul {

    list-style: none;
    padding: 0;
    margin-top: 50px;


    >li {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 56px;
        text-align: center;

        >h3 {
            font-size: 24px;

        }

        >p {
            font-size: 16px;

        }
    }
}

.container3 {
    text-align: center;
    margin-top: 150px;

    >p {
        text-align: center;
        margin-top: 19px;
        margin-bottom: 110px;

    }

}

.container3>img {
    display: inline-block;

}

.container4 {
    text-align: center;

    >p {
        margin-top: 19px;
    }
}

.tools {
    display: grid;
    grid-template-columns: 400px 420px 440px;
    margin-top: 72px;
    margin-left: 135px;


    >div {
        display: inline-block;
        text-align: center;

    }


    >div>p {
        margin-top: 16px;
    }
}

.text,
.preview {
    margin-left: 30px;
}

.logos {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    column-gap: 95px;
    margin-top: 162px;
    margin-left: 165px;
}

.last-container {
    margin-top: 122px;
    text-align: center;
    margin-bottom: 150px;
}

footer {
    width: 100%;
    background: #e9edef;
    mix-blend-mode: normal;
    padding: 39px 165px;

}

.links>img {
    width: 55px;
    height: 55px;
    grid-row: 1/3;

}

.links {
    display: inline-grid;

    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: max-content max-content;
    column-gap: 110px;
    row-gap: 12px;

    >a {
        text-decoration: none;
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.135px;
        color: #4C545C;

    }
}



.links>a:hover {
    color: blue
}

@media screen and (max-width: 495px) {
    .container {
        padding-left: 30px;

        padding-right: 30px;

        >p {
            font-size: 16px;
        }

        >h1 {
            font-size: 32px;
        }
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 24px;
        grid-row: 1/3;

        >.macos {
            margin-left: 0;
        }

    }

    .container2 {
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 65px;
    }


}

@media screen and (max-width: 376px) {
    .last-container {
        padding: 0 32px;

        >p {
            font-size: 16px;
        }

        >h2 {
            font-size: 28px;
        }

        >.btn-group>button {
            width: 100%;
        }
    }

    .container4 {
        padding: 0 32px;

        >p {
            font-size: 16px;
        }

        >h2 {
            font-size: 28px;
        }
    }

    .tools {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-top: 90px;
        margin-bottom: 131px;
        row-gap: 56px;

        >div {
            margin: 0;
            padding: 0 32px;

            >p {
                font-size: 16px;
            }

            >h3 {
                font-size: 24px;
            }
        }


    }

    .logos {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;

        >img {

            margin-top: 59px;

        }
    }

    .container3 {
        padding: 0 32px;
        margin-bottom: 130px;

        >p {
            font-size: 16px;
            margin-bottom: 64px;
        }

        >h2 {
            font-size: 28px;
        }

        >img {
            width: 100%;

        }
    }

    .feature {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 56px;

        >img {
            margin: 0;
            padding: 0;
            width: 100%;
            padding: 0 32px;
        }

        >ul>li {
            margin-bottom: 48px;
            padding: 0 32px;

            >h3 {
                font-size: 24px;

            }

            >p {
                font-size: 16px;
            }
        }
    }

    footer>.links {
        display: flex;
        flex-direction: column;
         
        text-align: center;
        align-items: center;
        row-gap: 20px;

        >img {
            margin-bottom: 20px;

        }

        >a { text-align: center;
            width: max-content;
            justify-self: center;
 
        }
    }
}