.about {
  max-width: 100%;
  padding: 2rem 5% !important;
  background-color: #f1f1f1;
}
.about-our-shop {
  max-width: 100%;
  padding: 2rem 5% !important;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.about-our-shop h2 {
  color: #015e6b;
  font-size: 41px;
  font-weight: 700;
}
.about-our-shop p {
  font-size: 14px;
}
.about h1 {
  color: #015e6b;
  font-size: 41px;
  font-weight: 700;
}
.about p {
  font-size: 14px;
}
@media (max-width: 907px) {
  .about,
  .about-our-shop {
    padding: 2% 3% !important;
  }
}
@media (max-width: 810px) {
  .about,
  .about-our-shop {
    padding: 2% 1% !important;
  }
}
.texts {
  display: flex;
  gap: 22px;
}
@media (max-width: 767px) {
  .texts {
    flex-direction: column !important;
    gap: 0 !important;
    > div > p {
      margin: 0;
    }
  }
}
