body {
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}

header {
    padding: 38px;
}

.logo>a {
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.035em;
    float: left;
    color: #72FDF5;
}

header>nav>ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header>nav>ul>li {
    display: inline-block;
    padding: 8px 34px;

}

header>nav>ul>a {
    display: inline-block;


}

header>.auth-actions>a {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #72FDF5;
    text-decoration: none;
    float: right;
    padding-right: 33px;
}

header>nav>ul>li>a {
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.055em;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hero>.content,
.hero>.gallery {
    display: inline-block;
    margin: 12px;
    text-align: center;
    width: 48%;
}

.hero>.content {
    vertical-align: 26px;
}



.content>h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 128%;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.89);
    margin-bottom: 72px;
}

.content>form {
    display: inline-block;
    background-color: white;
    background: #FFFFFF;
    border-radius: 80px;
    padding: 12px 20px;

}

.content>form>button {
    align-items: center;
    border: none;
    background: #000000;
    border-radius: 100px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.055em;
    color: #72FDF5;
    cursor: pointer;
    width: 197px;
    height: 68px;
}

.content>form>hr {
    display: inline-block;
    width: 41.19px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    transform: rotate(90deg);

}

.content>form>input {
    align-items: center;
    background: #FFFFFF;
    border: none;
    width: 157.5px;
    height: 68px;
    padding: 29px;




}

.content>form>input::placeholder {

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.055em;
    color: #000000;
    text-align: center;
}

.wrapper {
    overflow: hidden;
    display: inline-block;
    border-radius: 32px;


}


.wrapper>.img1 {
    width: 316px;
    height: 282px;
    margin-bottom: 32px;
    margin-right: 32px;
    border-radius: 32px;
    object-fit: cover;
}

.wrapper>.img2 {
    width: 256px;
    height: 282px;
    border-radius: 32px;
    margin-bottom: 32px;
    object-fit: cover;
}

.wrapper>.img3 {
    width: 226px;
    height: 231px;
    border-radius: 32px;
    object-fit: cover;
}

.wrapper>.img4 {
    width: 346px;
    height: 231px;

    margin-left: 32px;
    border-radius: 32px;
    object-fit: cover;
}

.most-wanted {
    text-align: start;
    margin-top: 44px;
    margin-left: 24px;
}

.specialities {
    font-weight: 400;
    font-size: 24px;
    line-height: 154%;
    letter-spacing: 0.03em;

    color: #F5F5F5;
}

.most-wanted>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 154.5%;
    letter-spacing: 0.06em;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    width: 140px;
    height: 27px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 32px;
    text-align: center;

}

.a1 {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 27px;
    margin-right: 24px;
}

.a2 {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 27px;
    margin-right: 24px;
}

.a3 {
    display: inline-block;
    margin-top: 24px;
    margin-right: 24px;
}

.a4 {
    display: inline-block;
    margin-right: 24px;
}
.a5 {
    display: inline-block;
    margin-right: 24px;
}
.a6 {
    display: inline-block;
    margin-right: 24px;
}